<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <!--<h3 class="section-subheading text-muted">Strawberry Patch Puzzles started from a birthday gift idea for a special someone who <em>loves</em> puzzles and scavenger hunts. It grew from a way to make a physical gift that wasn't exciting enough become more interesting by incorporating it into a scavenger hunt, to taking on a life of it's own and becoming the main gift. Clues were put up online, around the house, and around the city, sending the birthday boy on a quest.</h3>-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <!--<div class="timeline-heading">
                                    <h4>2009-2011</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>-->
                                <div class="timeline-body">
                                    <p class="text-muted">Strawberry Patch Puzzles started from a birthday gift idea for a special someone who <em>loves</em> puzzles and scavenger hunts.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <!--<div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">An Agency is Born</h4>
                                </div>>-->
                                <div class="timeline-body">
                                    <p class="text-muted">It grew from a way to make a physical gift that wasn't exciting enough become more interesting by incorporating it into a scavenger hunt, to taking on a life of it's own and becoming the main gift.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <!--<div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>-->
                                <div class="timeline-body">
                                    <p class="text-muted">Clues were put up online, around the house, and around the city, sending the birthday boy on a quest to find his gift as well as when and where to meet for dinner that night.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <!--<div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>-->
                                <div class="timeline-body">
                                    <p class="text-muted">The clues are varied to keep things interesting - no 2 clues are the same. The puzzle employs things like custom web pages, maps, social media, text messages, music, language, luggage locks, sound modules and an Arduino board, riddles, and a nonogram.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image timeline-last">
                                <a class="white-link" href="#contact"><h4>Get
                                    <br>Your Puzzle
                                    <br>On!</h4></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>